@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  xborder: 1px blue solid;
}
