<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="bitcamp/myapp/config/jdbc.properties"></properties>

    <typeAliases>
        <!--
        <typeAlias type="bitcamp.myapp.vo.Member" alias="member"/>
        <typeAlias type="bitcamp.myapp.vo.Board" alias="board"/>
        <typeAlias type="bitcamp.myapp.vo.AttachedFile" alias="attachedFile"/>
        -->
        <package name="bitcamp.myapp.vo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="bitcamp/myapp/mapper/BoardDao.xml"/>
        <mapper resource="bitcamp/myapp/mapper/BoardFileDao.xml"/>
        <mapper resource="bitcamp/myapp/mapper/MemberDao.xml"/>
    </mappers>

</configuration>